<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
        <a href="/" class="navbar-brand"><span class="brand-title">جريدة صوت المغتربين</span></a>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav pull-right">

               <li class="active">
                    <a href="/">الرئيسية</a>
                </li>

                <li class="">
                    <a href="/almogtarbeen/index/1/17/">مقالات</a>
                </li>

                <li class="">
                    <a href="/almogtarbeen/index/1/5/">القصة والشعر</a>
                </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">فئات أخرى  <b class="caret"></b></a>
                <ul class="dropdown-menu">

                    <li class="">
                        <a href="/almogtarbeen/index/1/1/">الاخبار</a>
                    </li>

                    <li class="">
                        <a href="/almogtarbeen/index/1/3/">اقتصاد واعمال</a>
                    </li>

                    <li class="">
                        <a href="/almogtarbeen/index/1/4/">اخبار الرياضة</a>
                    </li>

                    <li class="">
                        <a href="/almogtarbeen/index/1/6/">علوم وتكنولوجيا</a>
                    </li>

                    <li class="">
                        <a href="/almogtarbeen/index/1/7/">منوعات</a>
                    </li>

                    <li class="">
                        <a href="/almogtarbeen/index/1/16/">ثقافةوفنون</a>
                    </li>

                    <li class="">
                        <a href="/almogtarbeen/index/1/18/">طب وصحة</a>
                    </li>

                    <li class="">
                        <a href="/almogtarbeen/index/1/23/">سيدتي</a>
                    </li>

                    <li class="">
                        <a href="/almogtarbeen/index/1/21/">إعلام</a>
                    </li>

                </ul>

                    <li>
                        <a href="/registration/login.html">تسجيل الدخول</a>
                    </li>
                    <li>
                        <a href="/registration/register.html/">تسجيل مستخدم جديد</a>
                    </li>
            </li>

            </ul>
        </div>
    </div>
</nav>
